// src/assets/styles/components/_theme-switch.scss

button {
    all: unset;
}

.theme-switch {
    position: relative;
    width: 55px;
    height: 25px;
    background-color: var(--color-xl);
    border-radius: $border-radius-2xl;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 2px;
  
    // 아이콘 컨테이너
    &__icons {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $spacing-1;
        pointer-events: none;
        z-index: $z-index-base;
        gap: $spacing-2;
    }

    &__sun {
        width: $icon-size-md;
    }

    &__moon {
        width: $icon-size-sm;
    }
  
    // 움직이는 thumb
    &__thumb {
        display: block;
        width: 21px;
        height: 21px;
        background-color: var(--color-xs);
        border-radius: $border-radius-2xl;
        border: none;
        outline: none;
        transition: transform 100ms ease;
        transform: translateX(2px);
        will-change: transform;
        z-index: $z-index-docked;
        // 체크된 상태일 때 thumb 이동
        &[data-state="checked"] {
            transform: translateX(32px);
        }
    }
}