.month-cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #e5e7eb;
    transition: all 0.2s ease;
    position: relative;
    
    &:hover {
      border-color: #9ca3af;
      background-color: rgba(59, 130, 246, 0.1) !important;
    }
    
    &--selected {
      color: white;
      font-weight: 500;
      opacity: 0.8;
      
      &:hover {
        opacity: 1;
      }
    }
    
    &--start,
    &--end {
      .month-cell__content {
        font-size: 8px;
      }
    }
    
    &__content {
      pointer-events: none;
    }
  }