.month-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    
    &:hover {
      border-color: var(--color-sm);
    }
    
    &--selected {
      font-weight: $font-weight-medium;
      
      &:hover {
        opacity: 0.9;
      }
    }
    
    &--start,
    &--end {
      .month-cell__content {
        opacity: 0.2;        
      }
    }
    
    &__content {
      pointer-events: none;
      user-select: none;
    }
  }