.project {
    &__list {
        display: flex;
        gap: $spacing-4;
    }
    
    &__info {
        flex: 0;
    }

    &__info-table {
        width: 43rem;
        height: 30rem;
        border-collapse: collapse;
        color: var(--color-xl);

        th {
            text-align: center;
            height: $spacing-10;
            font-weight: $font-weight-medium;
            font-size: $font-size-sm;

            :first-child {
                width: 40px;
            }
            :last-child {
                width: 102px;
            }
        }
        td {
            text-align: center;
            height: $spacing-10;
            border: 1px solid #ddd;
            font-size: $font-size-sm;
        }
    }
    
    &__months {
        flex: 1;
        min-width: 600px;
    }
    
    &__year-selector {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: $spacing-1;
        top: -$spacing-6;
        border-radius: 8px;
    }
    
    &__year-btn {
        background: none;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    
    &__year {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        color: var(--color-xl);
        min-width: 80px;
        text-align: center;
    }
    
    &__months-table {
        position: relative;
        top: -$spacing-8;
        width: 46.5rem;
        height: 30rem;
        border-collapse: collapse;
        color: var(--color-xl);

        tr {
            text-align: center;
            height: $spacing-10;
            width: 2.25rem;
            font-size: $font-size-sm;

            th {
                font-weight: $font-weight-medium;
            }
            td {
                border: 1px solid #ddd;
            }
        }
    }

    &__detail {
        margin-top: 30px;
    }
}