// 플렉스 박스 믹스인
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  // 절대 위치 중앙 정렬
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }